<ion-tabs #tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="feed">
      <ion-icon name="today"></ion-icon>
      <ion-label>feed</ion-label>
      <ion-badge>3</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="uploader">
      <ion-icon name="arrow-dropup-circle"></ion-icon>
      <ion-label>uploader</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="body"></ion-icon>
      <ion-label>profile</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>